@font-face {
  font-family: 'Aeonik';
  src: url('../aeonik/AeonikMono-Regular.woff2') format('woff2'),
    url('../aeonik/AeonikMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('../aeonik/AeonikMono-Bold.woff2') format('woff2'),
    url('../aeonik/AeonikMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Aeonik', Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  background: rgb(0, 0, 0);
  padding: 20px;
  min-height: 100%;
  height: 100%;
}

.line {
  padding-top: 10px;
  width: 100%;
  position: relative;
}

.lazyload {
  opacity: 0;
  transition: all 250ms;
}

video {
  width: 100%;
  padding: 0;
}

#element {
  position: fixed;
  z-index: 1000;
  float: right;
  right: 20px;
  width: 15%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  /* border-radius: 5px; */
  overflow: hidden;
}
#captionbottom {
  color: white;
}

#element2 {
  position: fixed;
  z-index: 1000;
  float: right;
  right: 20px;
  width: 10%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  /* border-radius: 5px; */
  overflow: hidden;
}

.left {
  width: 45%;
  float: left;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  overflow: hidden;
  border-color: white;
  box-sizing: border-box;
}

.big {
  width: 100%;
  overflow: show;
  margin: 0 auto;
  padding: 0;
  /* border-radius: 10px; */
}

.botheggs {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  margin-bottom: 20px;
  float: left;
}

.line + .botheggs {
  margin-top: 50px;
}

.caption {
  float: left;
  text-align: left;
  width: 100%;
  z-index: 100;
  background-color: #dddddd;
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
}

#captionbottom {
  margin: 1rem 0 1rem 0;
  padding-bottom: 10px;
  float: left;
  text-align: left;
  left: 0;
  width: 50%;
}

.contact {
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  color: white;
  z-index: 2000;
  position: relative;
  width: 50%;
  top: 10px;

  padding-bottom: 40px;
}

.details {
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  color: white;
  z-index: 2000;
  position: fixed;
  max-width: 100%;
  top: 20px;
  right: 20px;
  float: right;
  /* border:white solid 1px; */
  border-radius: 5px;
  /* padding:0.8rem; */
}

video {
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;
  z-index: -100;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0 auto;
  vertical-align: bottom;
}

a {
  color: black;
  text-decoration: underline;
}

.contact-link {
  color: white;
  text-decoration: none;
  font-weight: normal;
}
.bio-title {
  color: white;
  font-weight: bold;
}

.jw {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 736px) {
  body {
    padding: 0 20px 20px 20px; 

  }
  .details {
    padding-bottom: 70px;
    font-size: 12px;
    /* line-height: 16px; */
    float: left;
    text-align: left;
    left: 0;
    width: 100%;
    position: relative;
  }

  .contact {
    text-align: left;
    font-size: 12px;
    color: white;
    z-index: 2000;
    position: relative;
    width: 100%;
    top: 10px;

    padding-bottom: 20px;
  }

  .left {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    box-sizing: border-box;
  }

  .caption {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    text-align: left;
    width: 100%;
  }

  #captionbottom {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    text-align: left;
    width: 100%;
  }
}
